:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --link-text-color: #2196f3;
  --bcg-color: rgba(166, 168, 184, 0.8);
  --bcg-btn-color: #2196f3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --bcg-color-grey: rgba(47, 48, 58, 0.8);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto;
  color: var(--text-white-color);
  margin: 0;
}

.logo :hover,
.logo :focus {
  text-decoration: underline;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.link {
  text-decoration: none;
}
/*logo  */
.header {
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo {
  font: bold 26px/31px Raleway, serif;
  text-decoration: none;
}

.logo-web {
  color: var(--link-text-color);
}
.logo-st {
  color: var(--text-black-color);
}

/* site-nav */
.site-nav {
  margin-left: 85px;
  margin-top: 32px;
  display: flex;
}
.site-nav .link {
  color: var(--title-text-color);
  font: 500 14px/16px Roboto, serif;
  letter-spacing: 0.02em;
  display: block;
  padding-bottom: 32px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--link-text-color);
  text-decoration: underline;
}

/* commun-nav */
.header-contact {
  margin-left: auto;
  display: flex;
}
.header-contact .link {
  color: var(--text-color);
}
.header-contact .item + .item {
  margin-left: 30px;
}
.header-contact {
  margin-top: 32px;
  margin-bottom: 32px;
}
/* HERO */
.hero {
  text-align: center;
  margin-bottom: 94px;
}
.hero .title {
  color: var(--text-white-color);
  font: 900 44px/60px Roboto, serif;
  margin-bottom: 46px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .link {
  color: var(--text-white-color);
  font: bold 16px/30px Roboto, serif;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: var(--link-text-color);
}

/* description of solutions */
.features {
  margin-bottom: 94px;
  /* height: 251px; */
}
.features-item,
.feature-doing-item,
.features-team-item,
.customers-item,
.footer-address-item,
.hero-site-item {
  display: flex;
}
.features-item .item + .item,
.feature-doing-item .item + .item,
.features-team-item .item + .item,
.customers-item .item + .item {
  margin-left: 30px;
}
.features-icon {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}
.features-doing .title,
.features-team .title,
.customers .title {
  font: bold 36px/42px Roboto, serif;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.features .title {
  font: bold 14px/16px Roboto, serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  width: 270px;
  margin-bottom: 10px;
}
.features .text {
  color: var(--text-color);
  line-height: 24px;
  font-size: 14px;
  width: 270px;
  letter-spacing: 0.03em;
}

/* our doin */
.images {
  display: block;
}
.hero,
.features,
.features-doing,
.features-team,
.customers {
  margin: 0px;
  margin-bottom: 94px;
  padding: 0;
}
.features-doing .link {
  font: bold 14px/16px Roboto, serif;
  font-family: Roboto;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: var(--bcg-color-grey);
  border-radius: 0px 0px 4px 4px;
  width: 370px;
  height: 70px;
}
.desktop {
  padding: 27px 82px 27px 83px;
}
.apps {
  padding: 27px 84px 27px 86px;
}
.design {
  padding: 27px 90px 27px 91px;
}
.link-item {
  text-decoration: none;
  width: 370px;
  height: 294px;
}

/* our team */
.section-team {
  width: 1600px;
  height: 702px;
  margin: auto 0;
  background: #f5f4fa;
}
.features-team {
  display: flex;
  align-items: center;
  font: normal 16px/19px Roboto, serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.features-team .name {
  margin-top: 30px;
  font-weight: 500;
}
.features-team .profession {
  margin-top: 10px;
  color: var(--text-color);
}
.features-team .link {
  color: #afb1b8;
}
.features-team .link:hover {
  color: var(--link-text-color);
}
.list-icon {
  display: flex;
  margin-top: 16px;
  justify-content: center;

  /* align-items: center;
  margin-left: auto; */
}

/* customers */
.picture {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.yaco {
  padding: 20px 63px;
}
.company {
  padding: 19px 65px;
}
.comp {
  padding: 24px 65px;
}
.foster {
  padding: 24px 45px;
}
.brand {
  padding: 22px 55px;
}
.line {
  padding: 22px 41px;
}
/* footer */
.footer {
  width: 1600px;
  height: 253px;
  margin: 0 auto;
  background-color: #2f303a;
}
.footer-style {
  display: flex;
  align-items: center;
}
.footer-address-item {
  width: 206px;
  margin-left: 69px;
}
.subscription {
  width: 570px;
  margin-left: 94px;
}
.logo-footer {
  display: block;
  padding-top: 48px;
  margin-bottom: 10px;
}
.footer-address {
  width: 231px;
  margin-right: 69px;
}
.logo-styd,
.address {
  color: var(--text-white-color);
}

.connect,
.develop,
.address {
  font: normal 14px/24px Roboto, serif;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.title-connect {
  font: bold 14px/16px Roboto, serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-top: 56px;
  /* margin-bottom: 21px; */
}
.develop {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

/* portfolio.css */
.hero-site {
  text-align: center;
}
.hero-site .link {
  color: var(--title-text-color);
  font: 500 16px/26px Roboto, serif;
  letter-spacing: 0.03em;
}
.indent {
  margin-bottom: 93px;
}

.text-depiction {
  color: var(--text-white-color);
  background-color: var(--bcg-btn-color);
}
.hero-site .link:hover,
.hero-site .link:focus {
  color: var(--text-white-color);
  background-color: var(--bcg-btn-color);
}
.title-depiction {
  font: bold 18px/36px Roboto, serif;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.title-depiction .text {
  font: normal 16px/30px Roboto, serif;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.title-depiction {
  width: 370px;
  margin-right: 30px;
}
.title-depiction:nth-child(3n) {
  margin-right: 0px;
}
.hero-site-item {
  justify-content: center;
  margin-bottom: 34px;
}
.hero-site-item .item {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}
.hero-site-item .item + .item {
  margin-left: 8px;
}
.hero-site-item .item:hover,
.hero-site-item .item:focus {
  background-color: var(--bcg-btn-color);
  color: var(--text-white-color);
}
